@using MuhBilUyg.Models.isci_analizdb
@model login
@{
    ViewBag.Title = "SifreDegistirme";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="limiter">
    <div class="container-login100" style="background-image: url('../Content/images/bg-01.jpg');">
        <div class="wrap-login100 p-t-30 p-b-50">
            <span class="login100-form-title p-b-41">
                Account Login
            </span>
            @using (Html.BeginForm("SifreDegistirme", "Login", FormMethod.Post))
            {


        <div class="wrap-input100 validate-input" data-validate="Enter username">
            @Html.EditorFor(model => model.login_name, new { htmlAttributes = new { @class = "input100" } })
            <span class="focus-input100" data-placeholder="&#xe82a;"></span>
        </div>

        <div class="wrap-input100 validate-input" data-validate="Enter password">
            @Html.EditorFor(model => model.login_password, new { htmlAttributes = new { @class = "input100" } })
            <span class="focus-input100" data-placeholder="&#xe80f;"></span>
        </div>

                <div class="container-login100-form-btn m-t-32">
                    <button class="login100-form-btn" value="Save" type="submit">
                        KAYDET
                    </button>
                </div>


            }
        </div>
    </div>
</div>



